<table mat-table [dataSource]="empleados">
  <ng-container matColumnDef="primer_nombre">
    <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.primer_nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="otros_nombres">
    <th mat-header-cell *matHeaderCellDef> otros_nombres </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.otros_nombres}} </td>
  </ng-container>

  <ng-container matColumnDef="primer_apellido">
    <th mat-header-cell *matHeaderCellDef> primer_apellido </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.primer_apellido}} </td>
  </ng-container>

  <ng-container matColumnDef="segundo_apellido">
    <th mat-header-cell *matHeaderCellDef> segundo_apellido </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.segundo_apellido}} </td>
  </ng-container>

  <ng-container matColumnDef="pais_empleo">
    <th mat-header-cell *matHeaderCellDef> pais_empleo </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.pais_empleo}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo_identificacion">
    <th mat-header-cell *matHeaderCellDef> tipo_identificacion </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.tipo_identificacion}} </td>
  </ng-container>

  <ng-container matColumnDef="numero_identificacion">
    <th mat-header-cell *matHeaderCellDef> numero_identificacion </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.numero_identificacion}} </td>
  </ng-container>

  <ng-container matColumnDef="correo_electronico">
    <th mat-header-cell *matHeaderCellDef> correo_electronico </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.correo_electronico}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_ingreso">
    <th mat-header-cell *matHeaderCellDef> fecha_ingreso </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.fecha_ingreso}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre_area">
    <th mat-header-cell *matHeaderCellDef> nombre_area </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.nombre_area}} </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> estado </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.estado}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
