<button mat-button color="primary" (click)="modalEmpleado(content, 'nuevo')">Agregar Nuevo Empleado</button>

<table mat-table [dataSource]="empleados">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.id}} </td>
  </ng-container>

  <ng-container matColumnDef="primer_nombre">
    <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.primer_nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="otros_nombres">
    <th mat-header-cell *matHeaderCellDef> Otros Nombres </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.otros_nombres}} </td>
  </ng-container>

  <ng-container matColumnDef="primer_apellido">
    <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.primer_apellido}} </td>
  </ng-container>

  <ng-container matColumnDef="segundo_apellido">
    <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.segundo_apellido}} </td>
  </ng-container>

  <ng-container matColumnDef="pais_empleo">
    <th mat-header-cell *matHeaderCellDef> País Empleo </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.pais_empleo}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo_identificacion">
    <th mat-header-cell *matHeaderCellDef> Tipo Identificación </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.tipo_identificacion}} </td>
  </ng-container>

  <ng-container matColumnDef="numero_identificacion">
    <th mat-header-cell *matHeaderCellDef> Numero Identificación </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.numero_identificacion}} </td>
  </ng-container>

  <ng-container matColumnDef="correo_electronico">
    <th mat-header-cell *matHeaderCellDef> Correo Electrónico </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.correo_electronico}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_ingreso">
    <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.fecha_ingreso}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre_area">
    <th mat-header-cell *matHeaderCellDef> Nombre Area </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.nombre_area}} </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.estado}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_registro">
    <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.fecha_registro}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_edicion">
    <th mat-header-cell *matHeaderCellDef> Fecha Edición </th>
    <td mat-cell *matCellDef="let empleado"> {{empleado.fecha_edicion}} </td>
  </ng-container>

  <ng-container matColumnDef="accion">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let empleado">
      <button mat-button color="primary" (click)="modalEmpleado(content, 'conocido')">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button color="warn"
        [swal]="{ title: '¿Está seguro de que desea eliminar el empleado? \n Sí / No', text: 'Toda la información asociada a ' + empleado.primer_nombre + ' ' + empleado.primer_apellido + ' Desaparecerá', icon: 'question', showCancelButton: true, confirmButtonText: 'Sí', cancelButtonText: 'No'}"
        (confirm)="delete(empleado)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="10" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion === 'nuevo' ? ' ' : ''}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
